{%block extra_head%}
<link href="/media/default.css" rel="stylesheet" type="text/css" />
{%endblock%}
	{%if message%}
	<h3>{{message}}</h3>
	<script type="text/javascript">
		function openerReload() {
			window.opener.location.reload();
		}
		openerReload();
	</script>
	{%else%}
	<h3>Create a guild</h3>
	<h4>All fields are required</h4>
	<form method="POST" name="form1" action="/report/newguild/">
		Guild Name:<br />
		<input type="text" maxlength="100" name="guild_name"/>
		<br /><br />
	 	Faction:<br />
		<select name="guild_faction">
				<option value="A">Alliance</option>
				<option value="H">Horde</option>
		</select>
		<br /><br />
		Realm:<br />
		<select name="guild_realm">
			{%for r in realms%}
				<option value="{{r.id}}">{{r.name}}({{r.location}})</option>
			{%endfor%}
		</select>
		<br /><br />
		<input type="submit" value="Create"/>
	 </form>
	 {%endif%}